{{#if isLogged}}
<a href="/agregar.html" class="btn btn-secondary">Agregar Producto</a>
<a href="/logout" class="btn btn-primary">Cerrar Sesion</a>
{{else}}
<a href="/login" class="btn btn-primary">Iniciar sesión</a>
{{/if}}